#include <windows.h> // include for version info constants

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "darkplaces.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "KillPixel Games"
			 VALUE "FileVersion", "1.0"
			 VALUE "FileDescription", "Wrath: Aeon of Ruin"
			 VALUE "InternalName", "Wrath.exe"
			 VALUE "LegalCopyright", "KillPixel Games, Forest Hale"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "Wrath.exe"
			 VALUE "ProductName", "Wrath"
			 VALUE "ProductVersion", "1.0"
		 }
	 }
}